* text=auto eol=lf
/tests export-ignore
/.vscode export-ignore
/docker export-ignore
/.php-cs-fixer.php export-ignore
/Makefile export-ignore
/phpstan* export-ignore
/.git* export-ignore
/phpunit* export-ignore
/packages.json export-ignore
/webpack.config.js export-ignore
/assets export-ignore
/postcss.config.js export-ignore