parameters:
    ignoreErrors:
    - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\).#'
    - '#Access to an undefined property Doctrine\\ORM\\Mapping\\Annotation::\$inversedBy.#'
    - '#Access to an undefined property Doctrine\\ORM\\Mapping\\Annotation::\$mappedBy.#'
    - '#Match expression does not handle remaining value: string#'