version: "3.8"

services:
  phptest:
    container_name: test
    build:
      context: ../
      dockerfile: ./docker/php/Dockerfile
    volumes:
      - ../:/var/www/html
      - ./php/php.ini:/usr/local/etc/php/php.ini